<%= turbo_frame_tag dom_id(@post, :comment) do %>
  <div class="bg-gray-100 rounded-lg h-80 w-full flex flex-col">
    <div class="w-full flex justify-end p-2"> 
      <%= link_to @post, class: "hover:scale-105" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>

      <% end %>
    </div> 
    
    <% if @post.comments.any? %>
      <div class="w-full h-full flex flex-col overflow-y-scroll">
        <% @post.comments.order(created_at: :desc).each do |comment| %>
          <div class="border-b border-gray-900 flex flex-col"> 
            <p class="text-lg"> <%= comment.body %> </p>
            <span> <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.username %> </span>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-lg text-gray-900 text-center"> No comments on post yet </p>
    <% end %>

    <div class="h-24 w-full mt-auto flex p-2 relative"> 
      <%= form_with url: post_comments_path(@post), class: "w-full" do |form| %>
        <%= form.text_area :body, class: "w-full h-full rounded-lg", style: "resize:none;",
          placeholder: "Enter your comment here", required: "true", autofocus: true %>
        
        <%= button_tag type: "submit", class: "absolute top-4 right-4 cursor-pointer hover:scale-105" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>