<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Caption:</strong>
    <%= post.caption %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= post.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= post.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Video:</strong>
    <%= link_to post.video.filename, post.video if post.video.attached? %>
  </p>
</div>
